.nav-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3px 0;
  background: transparent;
  border-bottom: 1px solid transparent;
  z-index: 1000;
  transform: translateY(-80px);
  opacity: 0;
}
.nav-header.header-appear {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.7s, opacity 1s, border-bottom 0.8s, background 0.5s;
}
.nav-header--scrolled {
  background: rgba(0, 0, 0, 0.81);
  border-bottom: 1px solid #313131;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px)
}
.nav-header__container {
  max-width: 1230px;
  margin: 0 auto;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
}
.nav-header__logo {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.62rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: -1.5px;
  cursor: pointer;
}

.nav-header__nav {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  gap: 36px;
  align-items: center;
  margin: 0;
  z-index: 2;
}
.nav-header__nav a {
  color: #bbb;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.19s;
}
.nav-header__nav a:hover {
  color: #fff;
}
.nav-header__auth {
  display: flex;
  align-items: center;
  gap: 18px;
}

.lang-min {
  position: relative;
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.lang-min-btn {
  background: none;
  border: none;
  font-size: 1.03rem;
  color: #aaa;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: color 0.18s;
  user-select: none;
  padding: 19px 0;
}
.lang-min-btn:hover,
.lang-min-drop .active {
  color: #fff;
}
.lang-min-drop {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.81);
  border-radius: 0 0 11px 11px;
  border-left: 1.5px solid #313131;
  border-right: 1.5px solid #313131;
  border-bottom: 1.5px solid #313131;
  box-shadow: 0 6px 24px #04070a90;
  padding: 0;
  min-width: 82px;
  pointer-events: none;
  opacity: 0;
  z-index: 30;
  height: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transition: height 0.6s cubic-bezier(.46,0,.21,1), opacity 0.15s cubic-bezier(.54,0,.39,1);
}
.lang-min-drop.show {
  pointer-events: all;
  opacity: 1;
  height: 140px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px)
}
.lang-min-item {
  font-size: 1.01rem;
  color: #e7e7e9;
  padding: 11px 23px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  transition: background 0.14s, color 0.11s;
  min-width: 30px;
}
.lang-min-item:hover {
  background: #fff;
  color: #18181a;
  font-weight: 600;
}
.nav-header__btn {
  padding: 7px 22px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border-radius: 20px;
  border: 1.5px solid #212020;
  box-shadow: 0 1px 6px #0003;
  text-decoration: none;
  outline: none;
  transition: background 0.18s, color 0.18s, box-shadow 0.23s, border-color 0.18s, transform 0.5s;
}
.nav-header__btn:hover {
  background: #fff;
  color: #181818;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.4);
  border-color: #fff;
}

.burger {
  display: none;
  width: 20px;
  height: 35px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  transition: opacity 0.13s;
  position: relative;
}
.burger span {
  width: 23px;
  height: 3px;
  background: #ddd;
  margin: 5px 0;
  border-radius: 2px;
  display: block;
  transition: all 0.40s cubic-bezier(.53,-0.01,.16,.93);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
}
.burger span:nth-child(1) {
  top: 6px;
}
.burger span:nth-child(2) {
  top: 14px;
}
.burger span:nth-child(3) {
  top: 22px;
}
.burger.open span:nth-child(1) {
  transform: translateY(8px) rotate(225deg);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-225deg);
}


.mobile-menu {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw; height: 100vh;
  z-index: 2000;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-790px);
  transition:
    opacity 0.3s,
    transform 0.6s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-menu.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}


.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  width: 90vw;
  max-width: 440px;
}
.mobile-menu__nav a {
  font-size: 1.13rem;
  color: #f2f3fa;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.17s;
  text-align: center;
  width: 100%;
  border-radius: 8px;
}

.nav-header__btn.mobile {
  display: block;
  margin: 37px auto 0 auto;
  width: 100%;
  text-align: center;
  font-size: 1.12rem;
  padding: 15px 0;
}
.lang-min-mobile {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin: 28px 0 0 0;
}
.lang-min-mobile .lang-min-item {
  background: none;
  color: #bebfc8;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.12s, color 0.1s;
  font-size: 1.11rem;
  border: none;
}
.lang-min-mobile .lang-min-item.active,
.lang-min-mobile .lang-min-item:hover {
  background: #fff;
  color: #191b21;
}

@media (max-width: 1100px) {
  .burger { display: flex; }
  .nav-header__auth { display: none !important; }
  .nav-header__nav { display: none !important; }
  
}
@media (max-width: 650px) {
  .nav-header__container { flex-wrap: wrap; height: auto; }
  .mobile-menu__nav a { font-size: 1.06rem; }
}
@media (min-width:1100px) {
  .mobile-menu,
  .mobile-nav-overlay { display: none !important; }
}
